<header id="headerBar">
    <nav class="navbar navbar-main navbar-expand-lg shadow navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand order-lg-1" th:href="@{/}">TinyBoard</a>
            <div class="collapse navbar-collapse navbar-collapse-overlay order-lg-3" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                    <li class="nav-item"><a class="nav-link nav-link-icon px-2" th:href="@{/manage}">
                        Manage
                    </a></li>
                    <li class="nav-item"><a class="nav-link nav-link-icon px-2" th:href="@{/delete}">
                        Delete
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

