<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TinyBoard</title>

    <link rel="stylesheet" th:href="@{~/css/app.css}">
</head>

<body>
<th:block th:replace="layout/head"></th:block>

<div layout:fragment="content"/>
<script>
    document.getElementById("headerBar").insertAdjacentHTML("beforeend", "<div class=\"alert alert-danger\" style=\"border-radius: 0\"><div class=\"container\">Warning! JavaScript is enabled</div></div>");
</script>
</body>
</html>

