<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TinyBoard - 403</title>

    <link rel="stylesheet" th:href="@{~/css/app.css}">
</head>
<body>

<section class="vh-100 d-flex align-items-center">
    <div class=container-fluid>
        <div class="row align-items-center">
            <div class="col-sm-7 col-lg-6 col-xl-6 mx-auto ml-lg-0">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-10 col-xl-6 py-5"><h6 class="display-3 mb-1 font-weight-600 text-primary">403</h6>
                        <p class="lead text-lg mb-4">No Permission.</p><a class="btn btn-primary btn-sm" th:href="@{/}">Return Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>